$mainColor: #00aeae;
$darkModeAideColor: #272727;
$cardAndListModeBorderRadius: 10px;

%aboutFlex {
  display: flex;
  align-items: center;
}

%aboutTransform {
  transform: scale(1, 1);
  transition: all 1s ease-out;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

@mixin rwd {
  @media (min-width: 1000px) {
    @content;
  }
}

html {
  margin: 0;
  padding: 1% 3%;
  box-sizing: border-box;
}

nav {
  margin: 15px;
  @extend %aboutFlex;
  justify-content: space-between;
  padding: 0 1%;

  @include rwd {
    padding: 0 5%;
  }

  >.title {
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;

    >a {
      text-decoration: none;

      >span {
        color: #3c3c3c;
      }

      >span:first-child {
        color: $mainColor;
      }
    }
  }

  >.items {
    @extend %aboutFlex;

    >.favorite {
      font-size: 20px;
      font-weight: bold;
      margin: 0 10px;
      cursor: pointer;

      >a {
        color: #3c3c3c;
        text-decoration: none;
      }
    }

    >.dark-mode {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      @extend %aboutFlex;
      justify-content: center;
      background-color: $darkModeAideColor;

      &:focus {
        outline: none;
      }


      >.fa-moon {
        font-size: 10px;
        color: white;
      }

      >.fa-sun {
        font-size: 10px;
        color: $darkModeAideColor;
      }
    }
  }
}

main {
  @extend %aboutFlex;
  flex-direction: column;
  position: relative;

  >input {
    margin: 25px 0 50px 0;
    border: 1px solid $darkModeAideColor;
    outline: none;
    border-radius: 20px;
    width: 50%;
    height: 35px;
    padding: 10px;

    @include rwd {
      width: 40%;
    }
  }

  .text {
    color: #aaaaaa;
  }

  >.arrangement-Mode {
    @extend %aboutFlex;
    padding: 3px 7px;
    position: absolute;
    right: 15px;
    top: 80px;
    cursor: pointer;
    font-size: 25px;

    @include rwd {
      right: 100px;
    }

    >.card-mode {
      margin-right: 5px;
    }

    >.list-mode,
    .card-mode {
      >.active {
        color: $mainColor;
      }
    }
  }

  >.container {
    @include rwd {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 30px;
    }

    >.card {
      border-radius: $cardAndListModeBorderRadius;
      margin: 20px auto;
      font-size: 20px;
      font-weight: 600;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      @include rwd {
        margin: 50px 5px 10px 5px;
      }

      >a {
        >div {
          border-radius: 10px 10px 0 0;
          width: 100%;
          height: 400px;
          overflow: hidden;

          >img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            @extend %aboutTransform;
          }
        }
      }

      >.card-body {
        @extend %aboutFlex;
        justify-content: space-between;

        >.card-icon {
          @extend %aboutFlex;
          align-items: end;
          cursor: pointer;
          color: #aaaaaa;
          height: 100%;

          i:active {
            transform: scale(0.9)
          }
        }
      }
    }

    >.list {
      width: 80%;
      height: 400px;
      margin: 15px auto;
      @extend %aboutFlex;
      font-size: 20px;
      font-weight: 600;
      justify-content: space-around;
      position: relative;
      border-radius: $cardAndListModeBorderRadius;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: $cardAndListModeBorderRadius;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }

      @include rwd {
        width: 60%;
      }

      >a {
        >img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          object-fit: cover;
          border-radius: $cardAndListModeBorderRadius;
          @extend %aboutTransform;
        }
      }

      >.list-body {
        width: 100%;
        text-align: center;
        z-index: 10;

        >a {
          text-decoration: none;

          >.list-text {
            color: #fff;
            font-weight: 600;
            font-size: 40px;
            transition: 0.8s;

            &:hover {
              color: $mainColor;
            }

            @include rwd {
              font-size: 60px;
            }
          }
        }
      }

      >.list-icon {
        position: absolute;
        color: #fff;
        cursor: pointer;
        top: 10px;
        left: 10px;
        font-size: 30px;
        z-index: 10;

        i:active {
          transform: scale(0.9)
        }
      }
    }
  }

  >.pagination-container {
    margin: 50px 0;
    cursor: pointer;

    >.pagination {
      li:first-child {
        background-color: gray;
      }

      >.pagination-item {
        width: 30px;
        height: 30px;
        text-align: center;
        border-radius: 50%;
        margin: 3px;
        padding: 3px;
        background-color: $mainColor;

        >.pagination-link {
          text-decoration: none;
          color: white;
        }
      }

      >.onClick {
        background-color: gray;
      }
    }
  }

  >.to-the-top {
    width: 50px;
    height: 50px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    right: 5%;
    bottom: 100px;
    opacity: 0;
    transition: all 1s;

    >a {
      color: gray;

      i:active {
        transform: scale(0.9);
      }
    }
  }
}